In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
file_errors_location = 'C:\\Users\\HELLO\\Desktop\\Final_Project\\Web_Application\\Dataset\\dataset_infoCV_values_xv.xlsx'
df = pd.read_excel(file_errors_location)

In [4]:
sns.set_style('whitegrid')
df.head(2)

,Full Name,Birthday,Address,Phone,Position,Year of experiences,Education,Number of certificates,Number of Projects,GPA,TOEIC/IELTS,Interview Result
0,Đỗ Thị Bích Sâm,1987,Hà Nội,913666692,Kĩ thuật viên vận hành thiết bị,1,Đại học Tôn Đức Thắng,0,2,3.743190,có,Fail
1,Ninh Văn Tú,1988,Bình Dương,913668905,Nhân viên tư vấn dịch vụ,3,Đại học Công nghệ thông tin,4,4,2.607947,có,Pass

In [ ]:
sns.countplot(data=df,x='Position',hue='Interview Result')
plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [ ]:
sns.countplot(data=df,x='Interview Result',hue='Education')
plt.legend(bbox_to_anchor=(1.05, 1), loc=2, borderaxespad=0.)

In [7]:
df.drop(['Full Name','Birthday','Address','Phone'],axis=1,inplace=True)
df.head(2)

,Position,Year of experiences,Education,Number of certificates,Number of Projects,GPA,TOEIC/IELTS,Interview Result
0,Kĩ thuật viên vận hành thiết bị,1,Đại học Tôn Đức Thắng,0,2,3.743190,có,Fail
1,Nhân viên tư vấn dịch vụ,3,Đại học Công nghệ thông tin,4,4,2.607947,có,Pass

In [6]:
EnglishCertificate = pd.get_dummies(df['TOEIC/IELTS'])
EnglishCertificate.drop('không',axis=1,inplace=True)
EnglishCertificate.head(5)

   có
0    1
1    1
2    1
3    1
4    0

In [8]:
InterviewResult = pd.get_dummies(df['Interview Result'],drop_first=True)
InterviewResult.head(5)

   Pass
0     0
1     1
2     1
3     0
4     1

In [9]:
df = pd.concat([df,EnglishCertificate,InterviewResult],axis=1)

In [10]:
df.drop(['TOEIC/IELTS','Interview Result'],axis=1,inplace=True)
df.head(5)

,Position,Year of experiences,Education,Number of certificates,Number of Projects,GPA,có,Pass
0,Kĩ thuật viên vận hành thiết bị,1,Đại học Tôn Đức Thắng,0,2,3.743190,1,0
1,Nhân viên tư vấn dịch vụ,3,Đại học Công nghệ thông tin,4,4,2.607947,1,1
2,Kĩ thuật viên vận hành thiết bị,5,Đại học Đồng Nai,1,6,2.624993,1,1
3,IT Helpdesk,0,Đại học HUTECH,1,0,2.686618,1,0
4,Chuyên viên phân tích dữ liệu,4,Đại học GTVT,4,5,2.775918,0,1

In [11]:
def markLabel_Position(cols):
    Position = cols
    if Position == 'Designer':
        return 0
    if Position == 'Lập trình viên Frontend Website':
        return 1
    if Position == 'Lập trình viên Backend Website':
        return 2
    if Position == 'Lập trình viên ứng dụng di động':
        return 3
    if Position == 'IT Helpdesk':
        return 4
    if Position == 'IT Support':
        return 5
    if Position == 'Kĩ thuật viên bảo trì':
        return 6
    if Position == 'Kĩ thuật viên hạ tầng mạng':
        return 7
    if Position == 'Kĩ thuật viên an ninh mạng':
        return 8
    if Position == 'Kĩ thuật viên an toàn thông tin':
        return 9
    if Position == 'Chuyên viên quản trị cơ sở dữ liệu':
        return 10
    if Position == 'Chuyên viên phân tích dữ liệu':
        return 11
    if Position == 'Chuyên viên phân tích hệ thống':
        return 12
    if Position == 'Chuyên viên hỗ trợ người dùng':
        return 13
    if Position == 'Chuyên viên quản lý dự án':
        return 14
    if Position == 'Chuyên viên triển khai dự án':
        return 15
    if Position == 'Kĩ thuật viên vận hành thiết bị':
        return 16
    if Position == 'Kĩ thuật viên kiểm thử phần mềm':
        return 17
    if Position == 'Chuyên viên SEO':
        return 18
    if Position == 'Nhân viên Marketing Online':
        return 19
    if Position == 'Nhân viên Marketing Media':
        return 20
    if Position == 'Nhân viên Content Marketing':
        return 21
    if Position == 'Chuyên viên chăm sóc khách hàng':
        return 22
    if Position == 'Nhân viên bán hàng':
        return 23
    if Position == 'Nhân viên tư vấn dịch vụ':
        return 24
    if Position == 'Nhân viên văn phòng':
        return 25
    if Position == 'Nhân viên tổng đài dịch vụ':
        return 26
    if Position == 'Nhân viên lễ tân':
        return 27
    if Position == 'Biên dịch viên':
        return 28
    if Position == 'Nhân viên nhân sự':
        return 29

In [12]:
def markLabel_Education(cols):
    Education = cols
    if Education == 'Đại học Bách Khoa':
        return 0
    if Education == 'Đại học Công nghiệp':
        return 1
    if Education == 'Đại học Công nghệ thông tin':
        return 2
    if Education == 'Đại học Khoa học Tự nhiên':
        return 3
    if Education == 'Đại học GTVT':
        return 4
    if Education == 'Đại học Mở':
        return 5
    if Education == 'Đại học HUTECH':
        return 6
    if Education == 'Đại học ngoại ngữ - tin học':
        return 7
    if Education == 'Đại học sư phạm kĩ thuật':
        return 8
    if Education == 'Đại học Ngoại thương':
        return 9
    if Education == 'Đại học Nông lâm':
        return 10
    if Education == 'Đại học Hoa sen':
        return 11
    if Education == 'Đại học Hồng Bàng':
        return 12
    if Education == 'Đại học Tôn Đức Thắng':
        return 13
    if Education == 'Đại học Trần Đại Nghĩa':
        return 14
    if Education == 'Đại học Văn Lang':
        return 15
    if Education == 'Đại học Nguyễn Tất Thành':
        return 16
    if Education == 'Đại học Văn Hiến':
        return 17
    if Education == 'Đại học Quốc tế Sài Gòn':
        return 18
    if Education == 'Đại học Đồng Nai':
        return 19

In [13]:
df['Position']=df['Position'].apply(markLabel_Position)

In [14]:
df['Education']=df['Education'].apply(markLabel_Education)

In [15]:
df.head(5)

,Position,Year of experiences,Education,Number of certificates,Number of Projects,GPA,có,Pass
0,16,1,13,0,2,3.743190,1,0
1,24,3,2,4,4,2.607947,1,1
2,16,5,19,1,6,2.624993,1,1
3,4,0,6,1,0,2.686618,1,0
4,11,4,4,4,5,2.775918,0,1

In [16]:
X = df.drop('Pass',axis=1)
y = df['Pass']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
logmodel = LogisticRegression(solver='lbfgs',multi_class='auto')

In [21]:
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
predictions = logmodel.predict(X_test)

In [23]:
print(predictions)

[1 1 1 ... 0 1 1]

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,predictions))

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test,predictions)

In [ ]:
from sklearn.metrics import accuracy_score
print ("Logistic Regression\nAccuracy is ", accuracy_score(y_test,predictions)*100 )

In [ ]:
import pickle

In [ ]:
pickle.dump(logmodel, open("C:\\Users\\HELLO\\Desktop\\Final_Project\\Logistic Regression Model\\LogisticRegressionModel.pkl","wb"))